* {
  margin: 0;
  padding: 0;
}

.register-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 93.2vh;
  background-color: var(--light-background);
  padding: 2rem;
  transition: background-color 0.3s ease;
}

.register-page.dark {
  background-color: var(--dark-background);
  color: var(--dark-text-color);
}

.register-page.light {
  background-color: var(--light-background);
  color: var(--light-text-color);
}

h1 {
  font-size: 2.5rem;
  text-align: center;
  margin-bottom: 1rem;
  color: inherit;
}

p {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 2rem;
  color: inherit;
}

form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  max-width: 400px;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: var(--box-shadow-light);
  background-color: var(--light-article-bg);
  transition: background-color 0.3s ease;
}

form.dark {
  background-color: var(--dark-article-bg);
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

label {
  font-size: 1.1rem;
  color: inherit;
}

input,
select {
  padding: 0.8rem;
  font-size: 1rem;
  border-radius: 5px;
  border: 1px solid #ccc;
  outline: none;
  background-color: var(--light-background);
  transition: background-color 0.3s ease;
}

input:focus,
select:focus {
  border-color: var(--link-color-light);
}

input.dark,
select.dark {
  background-color: var(--dark-background);
  color: var(--dark-text-color);
  border-color: #444;
}

button {
  padding: 0.8rem 2rem;
  font-size: 1.2rem;
  background-color: var(--link-color-light);
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: var(--link-color-dark);
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  background-color: var(--light-background);
  padding: 2rem;
  border-radius: 8px;
  text-align: center;
  max-width: 400px;
}

.modal h2 {
  color: var(--light-text-color);
}

.modal.dark {
  background-color: var(--dark-article-bg);
  color: var(--dark-text-color);
}


/* Media Query 720p */
@media (max-width: 720px) {
  .register-page {
    padding: 1rem;
  }

  form {
    padding: 1.5rem;
    width: 90%;
    max-width: 100%;
  }
}
